

.simple-keyboard {
  max-width: 740px;

  align-items: center;
  margin:auto;
}


/*
  Theme: myTheme1
*/
.simple-keyboard.myTheme1 {
  background-color: transparent;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: silver;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: #1c4995;
  color: silver;
}

#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: #1c4995;
}
